#gifs{
	width:65%;
	float:left;
	border:1px solid black;
	padding:20px;
	background:#EEE;
}

#addButton{
	width:25%;
	float:right;
	border:1px solid black;
	padding:10px;
	background:#EEE;
}

#container{
	margin:20px 10%;
}

img{
	height:130px;
}

.gifHolder{
	display:inline-block;
	height:150px;
	padding:25px;
	margin-bottom:20px;
	margin-right:10px;
}

p{
	margin-top:0px;
}
